<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto_de_PSI.Properties.Settings.ConnectionString"
            connectionString="Server=127.0.0.1;Database=mydb;Uid=root;Pwd=" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>